<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ajizamotors">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AJIZAMOTORS.NoActionBar">
        <activity android:name=".DealerFinance"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".DealerApprovedAddShow"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AJIZAMOTORS"
            >

        </activity>
        <activity android:name=".FinanceTotalForAdmin"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".CompleteOrders"
            android:theme="@style/Theme.AJIZAMOTORS"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".CustomerCart"
            android:theme="@style/Theme.AJIZAMOTORS"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".CustomerAddReview"
            android:theme="@style/Theme.AJIZAMOTORS"
            android:screenOrientation="portrait"/>
        <activity android:name=".SplashScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DealerDashboard"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".AdminDashboard"
            android:screenOrientation="portrait"/>
        <activity android:name=".AdminRegister"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".AdminAddReviewer"
            android:theme="@style/Theme.AJIZAMOTORS"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".Dashboard"
            android:label="@string/title_activity_dashboard"
            android:theme="@style/Theme.AJIZAMOTORS.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity android:name=".CreateAdd"
            android:screenOrientation="portrait"/>
        <activity android:name=".AdminLogin"
            android:screenOrientation="portrait"/>
        <activity android:name=".DealerRegister"
            android:screenOrientation="portrait"/>
        <activity android:name=".DealerLogin"
            android:screenOrientation="portrait"/>
        <activity android:name=".Regester"
            android:screenOrientation="portrait"/>
        <activity android:name=".LoginPage"
            android:screenOrientation="portrait"/>
        <activity android:name=".FirstPage"
            android:screenOrientation="portrait"/>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>